.userselect {
    cursor: pointer;
}
.w3-animate-out-top {
    position: relative;
    animation: animateouttop 0.4s;
}
@keyframes animateouttop {
    from {top:0px;opacity:1}
    to   {top:-300px;opacity:0}
}